### 1. 1부터 10,000까지 8이라는 숫자가 총 몇 번 나오는 가
- 1부터 10,000까지 8이라는 숫자가 총 몇 번 나오는 가?
- 8이 포함되어 있는 숫자의 갯수를 카운팅하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야한다.
(※예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

In [10]:
# [풀이1]
str(list(range(1,10001))).count('8')

# [풀이2]
s = 0                        # 저장할 값                                                                   
for i in range(1,10001):    # 1부터 10000까지 반복
    s += str(i).count('8')  # i를 문자로 받아서 8을 찾아 갯수를 셈
print(s) # s값 출력

4000

### 2. 피보나치 수열
- 피보나치 수열이란, 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후의 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 말한다.
 예)0,1,1,2,3,5,8,13
- 인풋을 정수 n으로 받았을 때, n이하까지의 피보나치 수열을 출력하는 프로그램을 작성하세요

In [19]:
n = int(input('숫자를 입력하세요:'))   # 정수 n 입력받음 
a = 0; b = 1                           # a는 0, b는 1 초기값 저장
print('0', end = '')                   # '0' 출력
while b <= n:                         # n이 b보다 크거나 같을 경우까지 반복
    print(',%d'%b, end = '')          # ,b값 출력(포매팅)
    a,b = b, a + b                   # a는 a에 저장, b는 a+b 저장

숫자를 입력하세요:10
0,1,1,2,3,5,8

###  3. 홀수와 짝수의 개수를 구하는 func함수
[3,4,5,6,7] = 홀수3개,짝수 2개
 
 [12,16,22,24,29] = 홀수1개, 짝수 4개
 
 [41,43,45,47,49] = 홀수 5개, 짝수0개

- 홀수: 2로 나누어 떨어지지 않는 정수
- 짝수: 2로 나누어 떨어지는 정수

In [29]:
def func(numlist):                               # func함수에 numlist변수 생성
    even = 0                                     # 짝수 초기값 0 저장
    odd = 0                                      # 홀수 초기값 0 저장
    for n in numlist:                           # numlist값을 n번 반복
        if (n%2 == 0):                          # 만약 n이 짝수라면
            even += 1                           # 짝수에 값 추가 
        else:                                   # 아니라면(홀수라면)
            odd += 1                            # 홀수에 값 추가
    print(f'홀수 {odd}개, 짝수 {even}개')       # 홀수/짝수 갯수 출력
    
func([3,4,5,7])                                 # 값 확인
func([12,16,22,24,29])                          # 값 확인
func([41,43,45,47,49])                          # 값 확인

홀수 3개, 짝수 1개
홀수 1개, 짝수 4개
홀수 5개, 짝수 0개

### 4. 3개의 각으로 삼각형의 예각, 직각, 둔각을 구별하는 프로그램을 만들어라.

1. [60, 60, 60] = 예각삼각형
2. [30, 60, 90] = 직각삼각형
3. [20, 40, 120] = 둔각삼각형
4. [0, 90, 90] = 삼각형이 아니다
5. [60, 70, 80] = 삼각형이 아니다
6. [40, 40, 50, 50] = 삼각형이 아니다

- 예각삼각형 : 3개의 각이 모두 예각인 삼각형
- 직각삼각형 : 1개의 각이 직각인 삼각형
- 둔각삼각형 : 1개의 각이 둔각인 삼각형

① 각이 3개가 아닐 경우 삼각형이 아니다.

② 3개의 각의 합이 180°가 아닐 경우 삼각형이 아니다.

In [17]:
def search(x,y,z):
    if x == 0 or y == 0 or z == 0 or x + y + z != 180:
        print('삼각형이 아니다.')
    else:
        if max(x,y,z) > 90:
            print('둔각삼각형')
        elif max(x,y,z) == 90:
            print('직각삼각형')
        else:
            print('예각삼각형')
    return ''
x = int(input('제 1각을 입력하세요: '))
y = int(input('제 2각을 입력하세요: '))
z = int(input('제 3각을 입력하세요: '))

print(search(x,y,z))

# print(search(60, 60, 60))

제 1각을 입력하세요: 60
제 2각을 입력하세요: 60
제 3각을 입력하세요: 60
예각삼각형

### 5. 정수와 소수 구별하기
프로그래머 X는 코딩을 하다가 문득, 수학 시간에 배운 정수와 소수를 구별하는 방법을 떠올렸다. 정수와 소수의 차이는 분수로 표현이 되느냐, 되지 않느냐에 따라 차이가 나기도 하며, 또한 파이 등 특정한 값을 나타내는 것에 의하여 소수인지 정수인지 판별이 나게 된다.

프로그래머 X는 입력값을 숫자를 입력하거나 문자를 입력하려고 하는데,

만약 숫자를 입력하였으면 그것이 정수인지, 소수인지 구별하는 프로그램을 짜보도록 하고,
만약 문자를 입력하였으면 숫자가 아니므로 math error를 표시하게 하라.
(try, except를 사용, eval 함수 참고)

In [22]:
try:
    x = eval(input('num: '))
    if x != int(x):
        print(f'{x} 소수입니다.')
    else:
        print(f'{x} 정수입니다.')
except:
    print('math error')

num: ab
math error

### 6. 숫자,문자열 구별하기
- 문자와 숫자가 섞인 문자열을 입력받을때 구별하여 출력해라

input:

"c910m6ia 1ho"

output:

str : cma ho

int : 91061

In [40]:
ints = '';strs =''
a = list(input(''))
for i in a:
    try :
        i != int(i)
        ints += i
    except:
        strs += i
print(f'int: {ints}')
print(f'str: {strs}')

4564g434t
int: 4564434
str: gt

### 7. 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성
이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌

1. 김씨와 이씨는 각각 몇 명 인가요?
2. "이재영"이란 이름이 몇 번 반복되나요?
3. 중복을 제거한 이름을 출력하세요.
4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [61]:
# 1. 김씨와 이씨는 각각 몇 명 인가요?
n = input('').split(',')
k = 0; l = 0
for i in n:
    if i[0] == '김':
        k += 1
    elif i[0] == '이':
        l += 1
        
print(f'김: {k}, 이: {l}')

이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
김: 2, 이: 6

In [76]:
# 2. "이재영"이란 이름이 몇 번 반복되나요?
i = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
print('이재영: %d' %i.count('이재영'))

이재영: 3

In [83]:
# 3. 중복을 제거한 이름을 출력하세요.
name = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'.split(',')
print('중복을 제거한 이름:',set(name))

중복을 제거한 이름: {'최승혁', '이유덕', '김재성', '박민호', '권종표', '박영서', '이성연', '전경헌', '송정환', '강상희', '김지완', '이재영'}

In [84]:
# 4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.
name = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'.split(',')
print('오름차순 정렬: ', sorted(set(name)))

오름차순 정렬:  ['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

In [86]:
name = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
name_list = name.split(",")
name_set = set(name_list)
kim = 0
lee = 0

for i in name_list:
    if i[0] == "김":
        kim += 1
    elif i[0] == "이":
        lee += 1

print("1. 김씨는 %s명, 이씨는 %s명 입니다." % (kim, lee))
print("2. 이재영은 %s번 반복됩니다." % name_list.count("이재영"))
print("3. 중복을 제외한 이름: " + str(list(name_set)) )
print("4. 오름차순으로 정렬 :" + str(sorted(name_set)))

1. 김씨는 2명, 이씨는 6명 입니다.
2. 이재영은 3번 반복됩니다.
3. 중복을 제외한 이름: ['최승혁', '이유덕', '김재성', '박민호', '권종표', '박영서', '이성연', '전경헌', '송정환', '강상희', '김지완', '이재영']
4. 오름차순으로 정렬 :['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

### 8. 3이 나타나는 시간을 전부 합하면?
디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?

디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됩니다.

00:00 (60초간 표시됨)

00:01 

00:02 

...

23:59

In [100]:
sec = 0              # 초의 총합을 저장할 변수
for h in range(24): # 시간
    for m in range(60): # 분
        if '3' in str(h) or '3' in str(m):
            sec += 60         # 60초씩 더함
print(f'3이 나타나는 시간 합: {sec}')

3이 나타나는 시간 합: 29700

## **알고리즘 2**

### 1. 기수 -> 서수
기수를 입력하면 영어 서수로 출력하는 함수를 작성하시오.

In [3]:
def num(n):               
    if n % 10 == 1 and n % 100 != 11:
        return str(n) + 'st'
    if n % 10 == 2 and  n % 100 != 12:
        return str(n) + 'nd'
    if n % 10 == 3 and n % 100 != 13:
        return str(n) + 'rd'
    
    else:
        return str(n) + 'th'

In [6]:
print(num(1))
print(num(23))
print(num(12))
print(num(22))

1st
23rd
12th
22nd

### 2. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오.
(단, 점들의 배열은 모두 정렬되어 있다고 가정한다.)

s = [1,3,4,8,13,17,20]

(3,4)

In [8]:
s = [1,3,4,8,13,17,20]   
short = s[1] - s[0]   # 기준 길이
index = 0 # 결과
for i in range(1,len(s)): # s 반복문
    if s[i] - s[i-1] < short: # 만약 short보다 작다면
        short = s[i] - s[i-1] # short에 길이를 구해 저장
        index = i # index에 저장
        
print(f'({s[index-1]},{s[index]})')  # 결과 출력(해당 길이)

(3,4)

### 3. 모든 짝수 번째 숫자를 '*'로 치한하시오.  isdigit()
(홀수 번째 숫자, 또는 짝수 번째 문자를 치환하면 안됩니다.)

print(cnvt('57uyft43yut89574389'))

5'*'uyft4'*'yut'*'9'*'7'*'39

In [14]:
def cnvt(n):  # 함수 
    l = list((n)) # 하나씩 비교하기 위해 리스트로 변환
    for i in range(1,len(n),2): # n을 2씩 더하여 반복 
        if l[i].isdigit(): # l[i]자리가 숫자라면
            l[i] = '*' # '*' 출력
    return ''.join(l) # n값에 조인
cnvt('57uyft43yut89574389')         # 결과 출력

'5*uyft4*yut*9*7*3*9'

In [12]:
a = '57uyft43yut89574389'
a[1]+a[3]

'7y'

### ✔ 4. 문자열 압축하기
문자열을 입력 받아서, 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시하여 문자열을 압축하기

입력예시: aaabbcccccca 

출력예시: a3b2c6d1

In [1]:
s = "aaabbcccccca"  #초기값을 설정합니다.

result = s[0] #반복문 실행되는 동안 문자열 형태로 반환되는 결과들을 담을 변수
count = 0 #반복되서 나오는 문자 수만큼 카운팅되는 값을 담을 변수

for i in s:
    if i == result[-1]: #result변수 마지막 문자와 비교합니다. else에서 result변수에 값이 추가되기 때문에 마지막 문자[-1]와 비교.
        count += 1
    else:
        result += str(count) + i #마지막 글자와 i가 다를 경우 카운팅된 값을 문자열 형태로 result 변수 마지막에 추가 해주고 i를 마지막 문자로 추가합니다.
        count = 1
result += str(count) #결과들이 담긴 변수에 마지막으로 카운팅된 값을 문자열 형태로 추가합니다.

print(result)

a3b2c6a1

### ✔ 5. n의 배수 판정법
어떤 수 x와 n이 주어졌을때 조건에 따라 x가 n의 배수인지 판별하는 코드를 작성하라. x는 0 이상의 정수이며 조건에 맞지 않는 입력은 주어지지 않는다. 여기서 하나의 함수인지 여러 함수인지는 본인이 선택하면 된다. 단 절대 산술연산자 중 %와 /는 코드에 없도록 한다. 그리고 divmod() 함수를 쓰는것도 금지한다.

n의 종류는 2,3,5,7,11,13이다. 원하는 n만 선택해서 풀 수도 있다.

In [27]:
# 방법1
def is_multiple(x, n):
    while x >= n : x = x - n
    return x == 0
print(is_multiple(635,5))    

# 방법2
f = lambda x, n : x in range(0,x+1, n)
f(421,7)

True

False

###  ✔ 6. Light More Light
우리 학교에는 복도 불을 켜고 끄는 마부(Mabu)라는 사람이 있다. 전구마다 불을 켜고 끄는 스위치가 있다. 불이 꺼져 있을 때 스위치를 누르면 불이 켜지고 다시 스위치를 누르면 불이 꺼진다. 처음에는 모든 전구가 꺼져 있다. 마부라는 사람은 특이한 행동을 한다. 복도에 n개의 전구가 있으면, 복도를 n번 왕복한다. i번째 갈 때 그는 i로 나누어 떨어지는 위치에 있는 스위치(약수)만 누른다. 처음 위치로 돌아올 때는 아무 스위치도 건드리지 않는다. i번째 왕복은 (이런 이상한 행동을 하면서) 복도를 한 번 갔다가 오는 것으로 정의된다. 마지막 전구의 최종 상태를 알아내자. 과연 그 전구는 켜져 있을까 아니면 꺼져 있을까?

Input

복도에 있는 n번째 전구를 나타내는 숫자가 입력된다. (2^32-1 이하의 정수가 입력된다.) 0은 입력의 끝을 의미하며 그 값은 처리하지 않는다.

Output

그 전구가 켜져 있으면 "yes"를, 꺼져 있으면 "no"를 출력한다. 테스트 케이스마다 한 줄에 하나씩 출력한다.

Sample Input

3
6241
8191
0

Sample Output

no
yes
no

In [2]:
while True: 
    a = input()
    if a == '0':
        break
    f = []
    for i in range(1, int(a)+1):
        if int(a) % i == 0:
            f.append(i)
            
    d = len(f)
    if d%2 == 0:
        print('no')
    else:
        print('yes')

3
no
6241
yes
8191
no
0

### 7. 아마존 면접 문제
다음과 같은 형태의 배열을 [a1, a2, a3, ..., an, b1, b2, b3, ..., bn]

다음과 같은 형태로 바꾸시오[a1, b1, a2, b2, ..., an, bn]

In [10]:
a =['a1', 'a2', 'a3','a4','an', 'b1', 'b2', 'bn']
for i in range(len(a)):
    a.append(a[0][1] + a[0][0])
    a.pop(0)
a.sort()
for i in range(len(a)):
    a.append(a[0][1] + a[0][0])
    a.pop(0)
print(a)

['a1', 'b1', 'a2', 'b2', 'a3', 'a4', 'an', 'bn']

### 8. 변형된 리스트
a = [1,2,3,4]

b = [a,b,c,d]

이런 리스트가 있을 때 [[1,a],[b,2][c,3],[d,4]] 이런식으로 a, b리스트가 번갈아가면서 출력되게 해주세요.

In [5]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']
c=[]
for i in range(len(a)):
    if i % 2 == 0:
        c.append([a[i], b[i]])
    else:
        c.append([b[i], a[i]])
print(c)

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

### 9. 민규의 악수
광장에서 모인 사람들과 악수를 하는 행사가 열렸다.
참가자인 민규는 몇명의 사람들과 악수를 한 후 중간에 일이 생겨 집으로 갔다.
이 행사에서 진행된 악수는 총 n번이라고 했을 때, 민규는 몇 번의 악수를 하고 집으로 돌아갔을까? 이때 민규를 포함한 행사 참가자는 몇명일까?

- 악수는 모두 1대 1로 진행이 된다.
- 민규를 제외한 모든 참가자는 자신을 제외한 참가자와 모두 한번씩 악수를 한다.
- 같은 상대와 중복된 악수는 카운트 하지 않는다.
- 민규를 제외한 참가자는 행사를 모두 마쳣다

입력: 행사에서 진행된 악수 횟수 59

출력: [민규의 악수횟수, 행사참가자][4,12]

In [10]:
def solution(n):
    people = 0
    total = 0
    while True:
        total = people*(people - 1)/2
        if n < total:
            break
        people += 1
    times = int(people - (total - n) -1)
    return [times, people]
print(solution(59))

[4, 12]